<h1>今月のランキング</h1>
<table class="table">
  <tbody>
    <% @users.each.with_index(1) do |user, i| %>
    <% records = 0 %>
    <% distances = 0 %>
    <% records = @records.where(user_id: user.id).where(start_time: Time.current.all_month) %>
    <% total = records.all.sum('distance') %>
    <tr>
      <td><h2><%= i %>位</h2></td>
      <td><%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size:'50x50' %></td>
      <td>
        <%= link_to user_path(user) do %>
        <%= user.name %>
        <% end %>
      </td>
      <td><h3><%= total %>km</h3></td>
    </tr>
    <% end %>
  </tbody>
</table>