<div>
  <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %>
</div>
<div>
  <%= @user.name %>
  <%= @user.introduction %>
  <%= @total %>km
  <% if @user.id == current_user.id %>
    <%= link_to "記録投稿", new_record_path %>
    <%= link_to "編集", edit_user_path(current_user.id) %>
    <%= link_to "マイコース一覧", mycourse_path(current_user.id) %>
    <%= link_to "コース投稿", new_course_path, data: {"turbolinks"=>false} %>
  <% end %>
</div>

<div>
  <%= month_calendar events: @records do |date, records| %>
    <%= date.day %>
    <% records.each do |record| %>
      <div>
        <%= link_to record_path(record.id) do %>
          <%= record.distance %>km
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>