<h1>記録詳細</h1>
<div>
  <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %>
</div>

<div>
  <%= @record.user.name %>
  <%= @record.distance %>km
  <%= @record.description %>
</div>

<div>
  <% if @record.user_id == current_user.id %>
    <%= link_to "編集", edit_record_path(@record) %>
    <%= link_to "削除", record_path(@record), method: :delete, "data-confirm" => "削除しますか?" %>
  <% end %>
</div>

<div>
  <% @record.record_images.each do |image| %>
    <%= attachment_image_tag image, :image, :fill, 50, 50, format: 'jpeg' %>
  <% end %>
</div>