<div class="container-fluid bg-light">
<div class="row">
<div class="col-3 text-right">
<h1><%= @record.start_time.strftime('%Y/%m/%d') %></h1>
<div>
  <%= attachment_image_tag @record.user, :profile_image, :fill, 300, 300, format: 'jpeg', fallback: "no_image.jpg" %>
</div>
</div>

<div class="col-5 justify-content-center align-items-center">
  <h1><%= @record.user.name %></h1></br>
  <h3><%= @record.distance %>km</h3></br>
  <%= @record.description %>
</div>

<div class="col-2 d-flex align-items-end mb-2">
  <% if @record.user_id == current_user.id %>
    <%= link_to "編集", edit_record_path(@record), class: "btn btn-secondary mr-2 fas fa-edit" %></br>
    <%= link_to "削除", record_path(@record), method: :delete, "data-confirm" => "削除しますか?", class: "btn btn-danger fas fa-ban" %>
  <% end %>
</div>
</div>
</div>

<div class="row float-left text-center mt-2">
  <% @record.record_images.each do |image| %>
    <%= attachment_image_tag image, :image, :fill, 300, 200, format: 'jpeg', class: "mr-1" %>
  <% end %>
</div>