<h1>検索結果</h1>
<% if @range == "User" %>
<table class="table">
  <tr>
    <% @users.each do |user| %>
        <td><%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg" %></td>
        <td>
          <%= link_to user_path(user) do %>
          <%= user.name %>
          <% end %>
        </td>
    <% end %>
  </tr>
</table>
<% else %>
<table class="table">
  <% @courses.each do |course| %>
  <tr>
    <% course.course_images.first(1).each do |image| %>
    <td>
      <%= link_to course_path(course) do %>
        <%= course.title %>
      <% end %>
    </td>
    <td><%= attachment_image_tag image, :image, :fill, 200, 150 %></td>
    <% end %>
    </tr>
  <% end %>
</table>
<% end %>