<div id='map'></div>

<div>
  <% @course.course_images.each do |image| %>
    <%= attachment_image_tag image, :image, :fill, 50, 50, format: 'jpeg' %>
  <% end %>
</div>

<input id="address" type="textbox">
<input type="button" value="検索" onclick="codeAddress()">

<%= form_with model: @course, local:true do |f| %>
  <input type="hidden" name="course[address]" id="hidden_address">

  <div class="field">
    <%= f.attachment_field :course_images_images, multiple: true %>
  </div>

  <div class="field">
    <label for="inputTitle">タイトル</label>
    <%= f.text_field :title, id:"inputTitle", placeholder: "タイトル" %>
  </div>

  <div class="field">
    <label for="inputDistance">距離</label>
    <%= f.text_field :distance, id:"inputDistance", placeholder: "距離" %>km
  </div>

  <div class="field">
    <label for="inputDescription">本文</label>
    <%= f.text_area :description, id:"inputDescription", placeholder: "本文" %>
  </div>

  <div class="actions">
    <%= f.submit "投稿" %>
  </div>
<% end %>

<style>
  #map{
    height: 500px;
    width: 500px;
  }
</style>

<script>

  let map
  let geocoder
  let marker

  const savedLat = <%= @course.latitude %>
  const savedLng = <%= @course.longitude %>

  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: savedLat, lng: savedLng},
      zoom: 15
    });

    pos = new google.maps.LatLng(
      savedLat,
      savedLng
      );
    default_marker = new google.maps.Marker({
      map: map,
      position: pos
    });
  }

  function codeAddress() {
    let inputAdderss = document.getElementById('address').value;

    geocoder.geocode({
      'address': inputAdderss
    }, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);

        if(marker != null){
          marker.setMap(null);
        }
        marker = null;

        marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
        });

        let hidden_address = document.getElementById('hidden_address');
        hidden_address.setAttribute("value", inputAddress);
      } else {
        alert("失敗しました" + status);
      }
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>