<h1>マイコース一覧</h1>
<%= link_to "コース投稿", new_course_path %>



<div>
  <% @courses.each do |course| %>
    <%= link_to course_path(course) do %>
      <%= course.title %>
      <% course.course_images.first(1).each do |image| %>
        <%= link_to course_path(course) do %>
          <%= attachment_image_tag image, :image, :fill, 50, 50, format: 'jpeg' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
