
<div class="container-fluid bg-light">
  <div class="row">
<div class=" col-6">
  <% if @course.errors.any? %>
    <p><%=@course.errors.count %>件のエラーが発生しました</p>
    <% @course.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>
  <% end %>
<div id='map'></div>
<input id="address" type="textbox">
<input type="button" value="検索" onclick="codeAddress()">
</div>

<div class="col-5 text-left d-flex align-items-center">

<div class="form">
<%= form_with model: @course, local:true do |f| %>
  <input type="hidden" name="course[address]" id="hidden_address">

  <div class="form-group text-right">
    <%= f.attachment_field :course_images_images, multiple: true %>
  </div>

  <div class="form-group">
    <label for="inputTitle">タイトル</label>
    <%= f.text_field :title, id:"inputTitle", placeholder: "タイトル", class: "col-5" %>
  </div>

  <div class="form-group">
    <label for="inputDistance">距離</label>
    <%= f.text_field :distance, id:"inputDistance", placeholder: "距離" %>km
  </div>

  <div class="form-group">
    <label for="inputDescription">本文</label>
    <%= f.text_area :description, id:"inputDescription", placeholder: "本文" %>
  </div>

  <div class="actions">
    <%= f.submit "投稿" %>
  </div>
<% end %>
</div>
</div>
</div>
</div>

<style>
  #map{
    height: 500px;
    width: 500px;
  }
</style>

<script>

  let map
  let geocoder
  let marker

  function initMap() {
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: 35.728926, lng: 139.71038},
      zoom: 15
    });

    marker = new google.maps.Marker({
      map: map,
      position: center
    });
  }

  function codeAddress() {
    let inputAddress = document.getElementById('address').value;

    geocoder.geocode({
      'address': inputAddress
    }, function (results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);

        if(marker != null){
          marker.setMap(null);
        }
        marker = null;


        marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
        });

        let hidden_address = document.getElementById('hidden_address');
        hidden_address.setAttribute("value", inputAddress);

      } else {
        alert("失敗しました" + status);
      }
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>