<div id='map'></div>

<div>
  <%= @course.title %>
  <%= @course.distance %>km
  <%= @course.description %>
  <% @course.course_images.each do |image| %>
    <%= attachment_image_tag image, :image, :fill, 50, 50, format: 'jpeg' %>
  <% end %>
</div>

<div>
  <%= form_with model:[@course, @course_comment], local:true do |f| %>
    <%= f.text_area :comment, rows:'5', placeholder: "コメント" %>
    <%= f.submit "送信" %>
  <% end %>
</div>

<div>
  <% @course.course_comments.each do |course_comment| %>
    <%= attachment_image_tag course_comment.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %>
    <%= course_comment.created_at.strftime('%Y/%m/%d') %><%= course_comment.comment %>
    <% if course_comment.user_id == current_user.id %>
      <%= link_to "削除", course_course_comment_path(course_comment.course, course_comment), method: :delete %>
    <% end %>
  <% end %>
</div>

<style>
  #map{
    height: 500px;
    width: 500px;
  }
</style>

<script>

  let mapInstance
  let geocoder

  function initMap(){
    const savedLat = <%= @course.latitude %>
    const savedLng = <%= @course.longitude %>
    // geocoder = new google.maps.Geocoder()

    mapInstance = new google.maps.Map(document.getElementById('map'), {
      center: { lat: savedLat, lng: savedLng },
      zoom: 15
    });

    pos = new google.maps.LatLng(
      savedLat,
      savedLng
      );
    default_marker = new google.maps.Marker({
      map: mapInstance,
      position: pos
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
<% if @course.user_id == current_user.id %>
  <%= link_to "編集", edit_course_path(@course) %>
  <%= link_to "削除", course_path(@course), method: :delete, "data-confirm" => "削除しますか?" %>
<% end %>